    body {
        background-color: #EBE1C5;
    }

    p {
        color: #595643;

        font-family: 'Poppins',sans-serif;
    }

    input {
        outline: none;

        background-color: transparent;
        border: none;

        border-bottom: 1px solid #4e6b66;
    }

    table {

        border-collapse: collapse;

        width: 100%;

        text-align: left;

    }

    #Sair {
        position: absolute;

        color: #595643;

        right: 0;
        
        text-shadow: 5px -5px 10px rgba(0, 0, 0, 0.15);
    }

    #register {
        position: absolute;

        right: -120px;
        top: 30px;

        color: #595643;

        text-shadow: none;
        text-decoration: none;

    }
    

    #login_bar {
        position: absolute;

        top: 50%;
    }

    #register_bar {
        position: absolute;

        top: 70%;

    }

    #login_password {
        left: 50%;
        bottom: 10px;
    }

    #login_username {

        left: 50%;
        bottom: 80px;
        
    }

    #register_username {

        left: 50%;
        bottom: 170px;
        
    }

    #register_email {

        left: 50%;
        bottom: 90px;

    }

    #register_password {

        left: 50%;
        bottom: 10px;

    }

    #login_error{

        left: 50%;
        bottom: 10px;

        transform: translate(-50%,-50%);

    }

    #login_forget{

        left: 70%;
        bottom: 26%;

        transform: translate(-50%,-50%);
    }

    #return{

        position: absolute;

        left: -50px;
        top: 15px;

        transform: translate(-50%,-50%);
    }

    #link {
        text-shadow: none;
        text-decoration: none;

        color: black;
    }

    .principal_title {

        position: absolute;

        left: 50%;
        top: 100px;

        transform: translate(-50%,-50%);

        color: #4E6B66;
    }

    .principal_title h1{
        font-size: 50px;

        font-family: 'Poppins', sans-serif;

        text-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
    }

    .horizontal_list{
        position:relative;
        display: flex;

        left: 100px;
        padding: 0;
        margin: 0;
        gap: 10px;

        width: 80%;

        list-style: none;

        font-family: 'Poppins', sans-serif;

        text-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);

    }

    .bar {
        position: fixed;

        left: 50%;
        bottom: -5%;
        width: 50%;
        height: 75px;
        padding: 0;

        background-color: #ed834e;

        transform: translate(-50%,-50%);

        border-radius: 15px;

        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    }

    .login {
        display: flex;

        position: absolute;

        width: 50%;
        height: 200px;
        padding: 0;

        transform: translate(-50%,-50%);

        flex-direction: column;

        font-family: 'Poppins', sans-serif; 
    }

    .login input {
        font-size: 17px;

        margin-top: 10px;
    }

    .entry_button{
        position: absolute;
        left: 50%;
        bottom: 15%;

        height: 80px;
        width: 200px;
        transform: translate(-50%,-50%);

        background-color: #ed834e;
        border: none;
        border-radius: 15px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);

        font-family: 'Poppins', sans-serif;
        font-size: 20px;

    }

    .entry_button:active {
        box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.7);
    }

    .text_error{
        position: absolute;
        
        font-size: 20px;
        font-family: 'Poppins',sans-serif;
        color: #cc4b4b;
    }

    .links{
        position: absolute;

        color: #595643;

        font-family: 'Poppins',sans-serif;

        text-shadow: none;
        text-decoration: none;
    }

    .user_data{

        position: relative;

        right: -50%;
        top: 140px;

        width: 80%;           
        height: 200px;

        background-color: #fff;  
        border: 1px solid #ccc; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        border-radius: 8px;

        transform: translate(-50%,-50%);

    }

    .user_data img{

        position: absolute;

        left: 30px;
        top: 25px;

    }

    .user_data h1{

        position: absolute;

        left: 175px;
        top: 5px;

        font-family: 'Poppins',sans-serif;

        color: #4E6B66;

    }

        .user_data h2{

        position: absolute;

        right: 50px;
        top: 5px;

        font-family: 'Poppins',sans-serif;

        color: #4E6B66;

    }

    .user_data p{
        position: absolute;

        left: 175px;
        top: 60px

    }

    .user_absence{

        position: relative;

        right: -150px;
        bottom: -75px;

        width: 80%;           
        height: auto;

        min-height: 200px;
        overflow-y: auto;

        background-color: #fff;  
        border: 1px solid #ccc; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
        border-radius: 8px;  

    }

    .user_absence th{

        padding: 10px;

        font-family: 'Poppins',sans-serif;

        white-space: nowrap;

        width: 250px;

    }

    .user_absence thead{

        background-color: #ed834e;

    }

    .close_content{

        max-height: 0;
        overflow: hidden;


    }

    .open_content{

        max-height: 500px;
        min-height: 25px;

        transition: max-height 0.4s ease-in-out;

    }
