<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar faltas</title>

    <link rel="icon" href="{% static 'images/LogoDoCesar.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href='{% static "teacher/css/style.css" %}'>
    <link rel = "stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">    
    
</head>
<body style="margin: 0;">
    
    {% if not selected %}
    <div id = topBar>
        <a id="return" class='links' href="{% url 'teacherHome' %}">&larr;</a>

        <h2 id="absenceGuide" >Escolha uma turma para aplicar faltas:</h3>
    </div>

    <div id = "listaMaterias">
        <ul>
            {% for materia, serie in materias_series%}
            <li>

                <a name="{{materia.nome}}{{serie.nome}}" class="links" href="{% url 'teacherAbsenceDetail' serie.id materia.id %}">{{ materia.nome }} - {{ serie.nome }}</a>

            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    
    {% if selected%}
    <div id = topBar>
        <a id="return" class='links' href="{% url 'teacherAbsence' %}">&larr;</a>

        <h2 id="absenceGuide" >Confirme os alunos ausentes</h3>
    </div>
    <form method="POST">
        {% csrf_token %}
        <table id = "alunos">
            <thead>
                <tr>
                    <th>Aluno</th>
                    <th>Ausente?</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos %}
                <tr>
                    <td>{{ aluno.user.username }}</td>
                    <td style="text-align:center;">
                        <input type="checkbox" name="ausentes" value="{{ aluno.id }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    <button id = "submitButton" type="submit">Save</button>
    

    </form>
    {% endif %}

</body>
</html>