<!DOCTYPE html>
<html lang="pt_br">

    {% load static %}

<head>

    <link rel="stylesheet" href='{% static "teacher/css/style.css" %}'>
    <link rel = "stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
    

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>

<div id="sideBar" class="sideBar fechar">
        <button onclick="toogleSideBar()">☰</button>

    <ul>
        <li></li>
        <li></li>
    </ul>

</div>

    <div>
        <ul class="horizontal_list">
            <li id = "Sair"><a class="links" href="{% url 'logout' %}">Sair Da Conta</a></li>
        </ul>
    </div>

    <div  class = "principal_title">
        <h1>CONNECT</h1>
        <h2>Professores</h2>
    </div>

    <div class="bar"></div>

    <script src='{% static "teacher/js/home.js" %}'></script>

</body>
</html>