<!DOCTYPE html>
<html lang="en">

    {% load static %}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faltas de {{ request.user.username }}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel = "stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

</head>
<body>

    <div class="top_bar">
        <li class="horizontal_list">
            <ul id="return"><a id = 'link' href="{% url 'home' %}">Voltar</a></ul>
        </li>

    </div>

    <div class="user_data">

        <img src="https://placehold.co/128x128" alt="Foto do usuario">

        <h1>Faltas</h1>

        <h2>Total: {{ total }}</h2>

        <p>{{ request.user.username }}</p>
        
    </div>

    {% if faltas != 0 %}
        <div class="user_absence">
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Materia</th>
                        <th>Justificada?</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for falta in faltas %}
                    <tr>
                        <th>{{ falta.data }}</th>
                        <th>{{ falta.materia.nome }}</th>
                        <th>{% if falta.justificada %}sim{% else %}Não{% endif %}</th>
                        <th>{{ falta.comentario }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endif %}


    </div>



    
</body>
</html>

