<!DOCTYPE html>
<html lang="pt_br">

    {% load static %}

<head>

    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel = "stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <div class="top_bar">
        <ul class="horizontal_list">
            <li><a id="link" href="{% url 'absence' %}">Faltas</a></li>
            <li><a id="link" href="{% url 'score' %}">Notas</a></li>
            <li><a id="link" href="{% url 'calendar' %}">Agenda</a></li>
            <li>Diretoria</li>
            <li id = "Sair"><a id="link" href="{% url 'logout' %}">Sair Da Conta</a></li>
        </ul>

    </div>



</head>
<body>


    <div  class = "principal_title">
    <h1>CONNECT</h1>
    </div>

    <div id = "down_bar" class="bar"></div>

</body>
</html>