<!DOCTYPE html>
<html lang="pt_br">

    {% load static %}

<head>

    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel = "stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<body>

    <div class = "principal_title">
        <h1 id = "login_title">LOGIN</h1>
        </div>

    <div class="login_container">
        <label for="Login">Digite um Login:</label>
        <input type="text">
    </div>

    <div class="register_container">
        <label for="Senha">Digite uma Senha:</label>
        <input type="text" >
    </div>

    <button class="entry_button">enviar</button>
    
    
</body>
</html>