<!DOCTYPE html>
<html lang="pt_br">

    {% load static %}

<head>

    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel = "stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

</head>
<body>

    <ul class="horizontal_list">
        <li><a id = "register" href="{% url 'login' %}">Login</a></li>
    </ul>

    <div class = "principal_title">
        <h1 id = "login_title">REGISTRE-SE</h1>
    </div>

            
    <form method="POST">
        {% csrf_token %}

        <div class="login" id="register_username">
            <label for="Login">Digite um Login:</label>
            <input type="text" name="username" placeholder="Nome de usuario">
        </div>

        <div class="login" id="register_email">
            <label for="Login">Digite um email:</label>
            <input type="email" name="email" placeholder="email@gmail.com">
        </div>

        <div class="login" id="register_password">
            <label for="Senha">Digite uma Senha:</label>
            <input type="password" name="password" placeholder="Senha">
        </div>

        <button type="submit" class="entry_button">enviar</button>
    </form>    

    {% if error %}
        <p class="text_error" id="login_error">{{error}}</p>
    {% endif %}    
    
</body>
</html>