<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletos</title>

    <link rel="icon" href="{% static 'images/LogoDoCesar.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel = "stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
</head>
<body>
      
    <a id="return" class = 'links' href="{% url 'home' %}">&larr;</a>

    <div class="user_data">

        <img src="https://placehold.co/128x128" alt="Foto do usuario">

        <h1>Boletos</h1>

        <p>{{ request.user.username }}</p>
        
    </div>

        <div class="user_info">
            <table>
                <thead>
                    <tr>
                        <th>Data de vencimento</th>
                        <th>valor</th>
                        <th>pago?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for boleto in boletos %}
                    <tr class="clickable_line" data-href="{{ boleto.link }}"> 
                        <th>{{ boleto.dataDeVencimento }}</th>
                        <th>{{ boleto.valor }}</th>
                        <th>{% if boleto.pago %}sim{% else %}Não{% endif %}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

    </div>

    <script src="{% static 'js/boleto.js' %}"></script>
    
</body>
</html>