<!DOCTYPE html>
<html lang="pt_br">

    {% load static %}

<head>

    <link rel="icon" href="{% static 'images/LogoDoCesar.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel = "stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concluido</title>

</head>
<body>

    <div class = "principal_title">
        <h3>Sua senha foi redefinida!</h3>
    </div>
    
</body>
</html>