<!DOCTYPE html>
<html lang="pt_br">

    {% load static %}

<head>

    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <link rel = "stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>
<body>

    <a href="/home">
        <img id="logo" src ='{% static "images/LogoDoCesar.svg" %}'></img>
    </a>

    <div id="sideBar" class="sideBar fechar">
        <button onclick="toogleSideBar()">☰</button>

        <a  id="Sair" class="links" href="{% url 'logout' %}">Sair Da Conta</a>

        <ul>
            <li><a name = "absence" class="links" href="{% url 'absence' %}">Faltas</a></li>
            <li><a class="links" href="{% url 'score' %}">Notas</a></li>
            <li><a class="links" href="{% url 'calendar' %}">Agenda</a></li>
            <li><a class="links" href="{% url 'calendar' %}">Diretoria</a></li>
        </ul>
    </div>

    <div  class = "principal_title">
        <h1>CONNECT</h1>
        <h2>alunos</h2>
    </div>

    <div id = "down_bar" class="bar"></div>

    <script src='{% static "/js/home.js" %}'></script>
</body>
</html>