body {
  background-color: #ebe1c5;
}

p {
  color: #595643;

  font-family: "Poppins", sans-serif;
}

input {
  outline: none;

  background-color: transparent;
  border: none;

  border-bottom: 1px solid #4e6b66;
}

table {
  border-collapse: collapse;

  width: 100%;

  text-align: left;
}

#teste{
  position: relative;

  top: 100%;

  height: 200px;
}

#Sair {
  position: absolute;

  user-select: none;

  left: 20%;

  height: 28px;
  
  color: black;

  bottom: 8vh;

}

#Sair::after {
  content: "";

  position: absolute;

  height: 2px;

  width: 0;

  left: 50%;

  transform: translateX(-50%);

  background-color: black;

  transition: 0.3s;
  
  bottom: 0;
}

#Sair:hover::after {

  width: 50%;
}

#register {
  color: #595643;

  position: fixed;

  left: 90%;
  top: 10%;

  text-shadow: none;
  text-decoration: none;
  text-align: right;

}

#login_bar {
  position: absolute;

  top: 50%;
}

#register_bar {
  position: absolute;

  top: 70%;
}

#login_password {
  left: 50%;
  bottom: 10px;
}

#login_username {
  left: 50%;
  bottom: 12%;
}

#register_username {
  left: 50%;
  bottom: 21%;
}

#register_email {
  left: 50%;
  bottom: 90px;
}

#register_password {
  left: 50%;
  bottom: 10px;
}

#login_error {
  left: 50%;
  bottom: 10px;

  transform: translate(-50%, -50%);
}

#login_forget {
  position: absolute;

  left: 65%;
  top: 70%;

  width: 200px;
}

#return {
  position: fixed;

  left: 0;
  top: 1vh;

  font-size: 30px;

  transition: 0.3s;
}

#return:hover {
  color: black;
}

#calendar {
  position: relative;

  background-color: #fff;

  bottom: -75px;
  right: -9.9%;

  width: 80%;

  border-radius: 8px;

  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);

  font-family: 'Poppins',sans-serif;

}

#logo {
  position: fixed;

  height: 100px;
  width: 100px;

  left: 2vw;
}

.principal_title {
  color: #4e6b66;

  position: fixed;

  left: 50%;
  top: 100px;

  transform: translate(-50%, -50%);

  user-select: none;

}

.principal_title h1 {
  font-size: 50px;

  font-family: "Poppins", sans-serif;

  text-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
}

.principal_title h2 {
    position: fixed;
    left: 50%;

    top: 55%;

    transform: translate(-50%,-50%);
}

.horizontal_list {

  position: fixed;
  display: flex;

  left: 4%;
  top: 2%;

  gap: 10%;

  width: 25%;

  list-style: none;

  font-family: "Poppins", sans-serif;

  text-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);

  justify-content: space-between;
}

.bar {
  position: fixed;

  left: 50%;
  bottom: 0;
  
  width: 50%;
  height: 75px;

  background-color: #ed834e;

  transform: translate(-50%, -50%);

  border-radius: 15px;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}

.login {
  position: fixed;

  display: flex;

  width: 50%;
  height: 200px;

  padding: 0;

  transform: translate(-50%, -50%);
  flex-direction: column;

  font-family: "Poppins", sans-serif;
}

.login input {
  font-size: 17px;

  margin-top: 10px;
}

.entry_button {
  position: absolute;
  left: 50%;
  bottom: 15%;

  height: 80px;
  width: 200px;
  transform: translate(-50%, -50%);

  background-color: #ed834e;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);

  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.entry_button:active {
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.7);
}

.text_error {
  position: absolute;

  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #cc4b4b;
  user-select: none;
}

.links {
  position: absolute;

  color: #595643;

  font-family: "Poppins", sans-serif;

  text-shadow: none;
  text-decoration: none;
  text-align: center;

  user-select: none;

  width: 150px;
}

.user_data {
  position: relative;

  right: -50%;
  top: 140px;

  width: 80%;
  height: 200px;

  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  transform: translate(-50%, -50%);
}

.user_data img {
  position: absolute;

  left: 30px;
  top: 25px;
}

.user_data h1 {
  position: absolute;

  left: 175px;
  top: 5px;

  font-family: "Poppins", sans-serif;

  color: #4e6b66;
}

.user_data h2 {
  position: absolute;

  right: 40px;
  top: 15px;

  font-family: "Poppins", sans-serif;

  color: #4e6b66;
}

.user_data p {
  position: absolute;

  left: 175px;
  top: 60px;
}

.user_info {
  position: relative;

  right: -9.9%;
  bottom: -75px;

  width: 80%;
  height: auto;

  min-height: 200px;
  overflow-y: auto;

  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  user-select: none;
}

.user_info th {
  padding: 10px;

  font-family: "Poppins", sans-serif;

  white-space: nowrap;

  width: 250px;
}

.user_info thead {
  background-color: #ed834e;
}

.clickable_line {
  transition: background-color 0.3s ease;
}

.clickable_line:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.close_content {
  max-height: 0;
  overflow: hidden;

  width: 100%;

  transition: max-height 0.4s ease-in-out;
}

.open_content {
  max-height: 500px;

  width: 100%;

  transition: max-height 0.4s ease-in-out;
}

.fc .fc-toolbar.fc-header-toolbar {
  background-color: #ed834e;
  border-radius: 8px;
  height: 54px;
}

.sideBar.fechar{
    right: -180px;
}

.sideBar {
    position: fixed;

    top: 0;
    right: -30px;

    width: 200px;
    height: 100vh;

    color: white;
    background: #D57646;    

    padding: 20px;

    transition: 0.3s;
}

.sideBar button{
    position: absolute;
    left: 6%;
    top: 1%;

    width: 30px;
    height: 30px;

    font-size: 30px;

    color: white;

    background: none;
    border: none;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sideBar ul{
  list-style: none;
  gap: 50px;
  display: grid;

  top: 8vh;
  left: 8%;

  position: absolute;
}